
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/live.js"></script>


<script>


    $(document).ready(function(){

        //scroll
        var scrollTarget = $('.main');
        $(document).on('click', '#toc a[href^="#"]', function (event) {
            event.preventDefault();
            var hash = $(this).attr('href').toString();
            var el = $(hash);
            var targetPos = scrollTarget.scrollTop()+el.position().top;
            scrollTarget.animate({scrollTop: targetPos  }, 500 );
            history.pushState(null,null, hash);
        });


        // shadertoy
        var els = document.querySelectorAll("a[href^='https://www.shadertoy.com/view/']");
        els.forEach(function(el){
            var toy = el.getAttribute('href').split('/').slice(-1)[0];
            el.insertAdjacentHTML('afterend', '<iframe src="https://www.shadertoy.com/embed/'+toy+'?gui=false&paused=false&muted=true" width="100%" height="360" frameborder="0" allowfullscreen="allowfullscreen" ></iframe >');
            el.parentNode.removeChild(el);
        });

        var match = $( "p:contains('shadertoy.com/view/')" );
        match.each(function(i, el){
            var toy = $(el).text().split('/').slice(-1)[0];
            el.insertAdjacentHTML('afterend', '<iframe src="https://www.shadertoy.com/embed/'+toy+'?gui=false&paused=false&muted=true" width="100%" height="360" frameborder="0" allowfullscreen="allowfullscreen" ></iframe >');
            el.parentNode.removeChild(el);
        });


        // video
        var els = document.querySelectorAll("video[src$='.mp4']"); // all vidos where src laue ends with .mp4
        els.forEach(function(el){
            el.setAttribute('controls', '');
            el.setAttribute('autoplay', '');
            el.setAttribute('loop', '');
            el.setAttribute('muted', '');
            // var toy = el.getAttribute('href').split('/').slice(-1)[0];
            // el.insertAdjacentHTML('afterend', '<iframe src="https://www.shadertoy.com/embed/'+toy+'?gui=false&paused=false&muted=true" width="100%" height="360" frameborder="0" allowfullscreen="allowfullscreen" ></iframe >');
            // el.parentNode.removeChild(el);
        });




    });

</script>