{% assign dir = include.dir %}

<div style="padding: 5px; border: solid 2px #222; border-radius: 5px;">

{%- comment -%} {% assign path = dir | url_decode | split: '/' %}
{% assign foldernameindex = path.size | minus: 1 %}
{% assign foldername = path[foldernameindex] %} {%- endcomment -%}

{%- capture foldername -%}{% include dirname.liquid dir=dir %}{%- endcapture -%}

{%- comment -%} rawpath: {{ dir }} <br> {%- endcomment -%}
path: {{ dir | url_decode }} <br>
foldername: "{{ foldername }}" <br>
contains: <br>

{%- assign subfoldersArr = '' | split: '' -%}

{% for p in site.pages %}
    {%- comment -%} {{ p.dir }} <br> {%- endcomment -%}


    {% if p.dir == dir %}         
        {%- comment -%} -  {{ p.name }} ( {{ p.title }} ) <br>{%- endcomment -%}
    {% else %}     

        {%- comment -%} проверить это файл в дочерней папке или нет  {%- endcomment -%}
        {%- assign test = p.dir | split: dir -%}
        {%- if test.size == 2 -%}

            {%- comment -%} если такой субфолдер еще не был найден до этого {%- endcomment -%}
            {%- unless subfoldersArr contains p.dir -%}
                {%- assign f = p.dir | split: '///' -%}
                {%- assign subfoldersArr = subfoldersArr | concat: f }} -%}

                {%- capture subfoldername -%}{% include dirname.liquid dir=p.dir %}{%- endcapture -%}
                * {{subfoldername}} <br>
                <div style="padding: 5px; border: solid 2px #222; border-radius: 5px;">
                {%- comment -%} {% include list.html dir=p.dir %}  {%- endcomment -%}
                </div>

            {%- endunless -%}
            
        {%- endif -%}        

        {%- comment -%} вывести субфолдре {%- endcomment -%}
    {% endif %}
{% endfor %}


</div>

