



<ul class="tocnav nav flex-column">
{% for p in site.pages %}
    {% if p.title %}
        {% if page.dir == p.dir %}            
            {% if page.url == p.url %}  
                <li class="nav-item"><a href="{{p.url}}" class="nav-link active">{{ p.title }}</a>     
                   {% include toc2.html html=content h_min=2 id='toc' class='nav.flex-column' item_class='nav-item' anchor_class='nav-link' %}
                </li>  
            {% else %}   
               <li class="nav-item"><a href="{{p.url}}" class="nav-link">{{ p.title }}</a></li>                  
            {% endif %} 
        {% endif %}
    {% endif %}
{% endfor %}

</ul>
