

        <h4>List Pages in Folder</h4>  
        {% assign folder = "test" %}   
        {{folder}}: <br>    
        {% for p in site.pages %}
          {% if p.title %}
            {% assign dirparts = p.dir | split:"/" %}      
            {% if dirparts.last==folder %}
              - {{p.title}} <br>
            {% endif %}
          {% endif %}
        {% endfor %}

        
        <hr>


        <h4>Folders List</h4>  
        
        {% for p in site.pages %}
          {% if p.title %}
            {% assign dirparts = p.dir | split:"/" %}       
            {% assign folder = dirparts.last | split: "/" %}
            {% assign folders = folders | concat: folder | uniq %}
          {% endif %}
        {% endfor %}
        
        {% for folder in folders %}
          <strong>{{ folder | upcase | url_decode }}</strong><br>
          {% for p in site.pages %}
          {% if p.title %}
            {% assign dirparts = p.dir | split:"/" %}      
            {% if dirparts.last==folder %}
              - <a href="{{p.url}}">{{p.title | url_decode}}</a>
              {% if p.url == page.url %} &laquo; {% endif %}
              
              <br>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% endfor %}
        
        <hr>

        <h4>Tags</h4>  
        
        Current page tags: {{ page.tags | join: ', '  }} <br><br>

        All tags: <br>
        {% for p in site.pages %}
          {% if p.title %} {% if  p.tags %}
            {% assign allTags = allTags | concat: p.tags | uniq %}
          {% endif %} {% endif %}
        {% endfor %}


        {% for tag in allTags %}
          <strong>{{tag}}</strong> #{{ tag | slugify }} <br>
          {% for p in site.pages %}
            {% if p.tags contains tag %}
              - <a href="{{p.url}}">{{p.title}}</a>
               {% if p.url == page.url %} &laquo; {% endif %}          
              <br>
            {% endif %}
          {% endfor %}
        {% endfor %}
        
        
        <hr>

        <h4> Folders and Categoryes </h4> 
          {% for p in site.pages %}
            {% if p.title %}
              {% assign dirparts = p.dir | split:"/" %}       
              {% assign folder = dirparts.last | split: "/" %}
              {% assign allCats = allCats | concat: folder | uniq %}
            {% endif %}
          {% endfor %}

          {% for p in site.pages %}
          {% if p.title %} {% if  p.categories %}
            {% assign allCats = allCats | concat: p.categories | uniq %}
          {% endif %} {% endif %}
        {% endfor %}
          
        {{ allCats | join: ', ' | upcase | url_decode  }}

        <hr>

        <h4> Current Folder </h4> 
        parh: {{ page.dir  | url_decode }} <br>
        {% assign path = page.dir | split: '/' %}
        {% assign index = path.size | minus: 1 %}
        depth: {{index }} <br>
        current folder: {{ path[index] | url_decode }} <br>

        <strong>Files in cuttent folder:</strong>  <br>
        {% for p in site.pages %}
          {% if p.title %}
            {% if page.dir == p.dir %}
              - {{ p.title }} <br>
            {% endif %}
          {% endif %}
        {% endfor %}

        <hr>

        <h4> 2 Level Folders Tree </h4> 


        root <br>
        <!-- first level folders  -->    
        {% assign level1 = "" | split: '' %}
        {% for p in site.pages %}
          {% if p.title %}
            {% assign path = p.dir | split: '/' %}
            {% if path.size == 2 %}              
              {% assign foldernamearr = p.dir | split: '///' %}
              {% assign level1 = level1 | concat: foldernamearr | uniq %}
            {% endif %}            
          {% endif %}
        {% endfor %}
        
        {% for f in level1 %}
          <!-- second level folders -->
          --- {{ f | url_decode }}  {% if f == page.dir %} * {% endif %}   <br> 

          {% assign level2 = "" | split: '' %}
          {% for p in site.pages %}
            {% assign test = p.dir | split: f %}
            {% if test.size == 2 %}{% if test[0] == '' %}
              {% assign dirarr = p.dir | split: '///' %}
              {% assign level2 = level2 | concat: dirarr | uniq %}
            {% endif %}{% endif %}
          {% endfor %}

          {% for f2 in level2 %}
          ---- --- {{ f2  | url_decode }}  {% if f2 == page.dir %} * {% endif %} <br>

          {% endfor %}

        {% endfor %}
        
       
        <hr>

      <h3>All Pages</h3>  

      {% for page in site.pages %}

        title: {{page.title}} <br>
        name: {{page.name}} <br>
        dir: {{page.dir  | url_decode }} <br>
        url: {{page.url }} <br>
        path: {{page.path}} <br>
        layout: {{page.layout}} <br>
        categories: {{page.categories | join:", "}} <br><br> <br>

      {% endfor %}


      {{page.categories | join:', ' }}

      <h3>site.posts</h3>
      {% for post in site.posts %}
          - <a href="{{ post.url }}">{{ post.title }}</a> | custom post data: "{{post.data}}"
          | post.categories: 
          <!-- {% for category in post.categories %}{{ category }}, {% endfor %} <br> -->
          {{post.categories | join:', ' }} <br>
      {% endfor %}

      <hr>

      <h3>site.categories</h3>
      {% for category in site.categories %}
        {{ category[0] }} <br>  
      {% endfor %}





<ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>