html, body{
    height: 100%;
    background-color: #333;
}

h1,h2,h3,h4,h5,h6{
    color: #cacaca;
    margin-top: 1.5em;
    margin-bottom: .75em;
    text-shadow: 0 1px 40px rgba(0, 0, 0, 0.25);
}
h1{color: #CF0;}

hr{
    border-bottom: solid 1px #434949;
}

.content-wrapper{
    display: flex;
    height: 100%;

    .sidebar {
        flex-shrink: 0;
        overflow-y: auto;
        height: 100%;
        width: 315px;

        color: #ccc;
        padding: 30px 30px 80px;
        //background-image: radial-gradient(circle 700px at 50px 120px, #333 0%, #242427 100%);
        background-image: radial-gradient(circle 700px at 50px 120px, #313837 0%, #212627 100%);
    }
  
    .main {  
        position: relative;   
        flex-grow: 10;
        overflow-y: auto;
        height: 100%;
        
        color: rgb(182, 182, 182);
        padding: 80px 80px 120px;
        background-color: #343c3c;
        background-image: radial-gradient(circle 1500px at right 50px top 120px, #343c3c 0%, #2a3231 100%);

        .main-content{
            max-width: 640px;
            margin: 0 auto;
        }

        img{ max-width: 100%; }
    }
}


div.highlight{
    border-radius: 4px;
    box-shadow: inset 0 -1px 0px #ffffff15, inset 0 .5px .5px #000000,  inset 0 0 10px rgba(0, 0, 0, 0.245);
    background-color: #384444;
    //border: solid 1px #222;
}
pre.highlight{
    background: transparent;
    padding: 10px 20px;
}
code.highlighter-rouge{
    background-color: #272a2b;
    padding: 2px 5px;
    border-radius: 4px;
    color: rgb(100, 190, 217) !important;
}


*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 14px;
    border-radius: 8px;
    border: 4px solid transparent;
}
*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 20px rgba(128,128,128,.2);
}
.sidebar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 20px rgba(128,128,128,0);
}
.sidebar:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 20px rgba(128,128,128,.2);
}

.tree-nav{ 
    a{ 
        //border-radius: 5px;  
        border-left: 2px solid transparent;
        line-height: 1.2em;
        transition: 500ms;
    }   
    a:hover{ 
        color: rgb(92, 149, 255) !important;
        border-left: 2px solid rgb(92, 149, 255) !important;
        background-color: #ffffff05;
     } 
    li> a{  padding : 8px 8px 8px 18px; font-size: 1em;   }
    li li> a{  padding : 8px 8px 8px 28px; font-size: .85em;    }
    li li li> a{  padding : 8px 8px 8px 38px; font-size: .75em;   }
    li li li li> a{  padding : 8px 8px 8px 48px; font-size: .7em;   }
}


.tocnav{

    margin-bottom: 20px;
    ul{
        list-style: none;
        //padding-left: 20px;
        //margin-left: 10px;
        overflow: hidden;
        margin-bottom: 5px;
    }
    a{ 
        //border-radius: 5px;  
        border-left: 2px solid transparent;
        line-height: 1.2em;

        transition: 500ms;

       
    }    
    a:hover{ 
        color: rgb(92, 149, 255) !important;
        border-left: 2px solid rgb(92, 149, 255) !important;
        background-color: #ffffff05;
     }    
    li> a{  padding : 8px 8px 8px 18px; font-size: 1em;   }
    li li> a{  padding : 8px 8px 8px 28px; font-size: .85em;    }
    li li li> a{  padding : 8px 8px 8px 38px; font-size: .75em;   }

    a.active{
        // background-color: #111;
        color: #F0F;
        border-left: 2px solid rgb(255, 0, 255);
    }

    a:not(.active)+ul{
        display: none;
    }
}

blockquote{
  border-left: solid 3px #777;
  padding-left: 10px;
}


$tree-shift: 12px;
$tree-lines-shift: 6px;
.tree-wrapper{  
    font-size: 15px;
    margin-top: 40px;  
    ul{
        list-style: 
        none; padding-left: $tree-shift;
    }
    >ul{padding-left: 0;}

    li>a{  
        //font-size: .85em;
        &.folder{ white-space: nowrap; }
        position: relative; 
        display: block;  
        min-height: 22px; 
        padding: 3px;
        padding-left:  24px;
        line-height: 1.1em;
        // icon codes: https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
        &.file::before{content: '\e8d2';} 
        &.folder::before{content: '\e2c7';}
        &::before{
            position: absolute;
            left: 0;
            top: 2px;
            //background-color: #222;

            width: 20px;
            height: 20px;
            font-family: 'Material Icons';
            vertical-align: text-bottom;
            font-weight: normal;
            font-style: normal;
            font-size: 19px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            //-webkit-font-smoothing: none;
        }
    }
    a.active{
        color: #F0F;
    }
    a:hover{
        text-decoration: none;
    }    
    .material-icons { 
        vertical-align: text-bottom;
        font-size: 18px;
    }


    li{ position: relative;
        &::before, &::after{            
            content: '';
            position: absolute; 
            background-color: #555;
        }
        &::before{
            width: 1px;
            height: 100%;
            top: -4px;
            left: $tree-lines-shift - $tree-shift;
        }
        &::after{
            width: $tree-shift - $tree-lines-shift + 2;
            height: 1px;
            top: 11px;
            left: $tree-lines-shift - $tree-shift;
        }
        //Remove connectors after last child
        &:last-child::before{ height: 15px;}
    }
    // Remove connectors before root
    >ul>li::before, >ul>li::after{ background: transparent; }

    //li:not(:last-child){  }
}

/* Rules for sizing the icon. */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
