<!doctype html>
{% include init.liquid %}
<html>    
  {%- include head.html -%}
  <body>

    <div class="content-wrapper">
    
      <div class="main" data-spy="scroll" data-target="#toc" data-offset="80" >
        <div class="main-content">      
          {% include breadcrumbs.liquid %} 
          
             
          {%- comment -%}  
          {% if page.isIndex %}
            {% include folderindex.liquid %}
          {% endif %} 
          
          {{ content }}  

          {% if page.isSiteMap %}
          <div class="tree-wrapper">
            {% include tree2.liquid depth=7 root='/' hideDistantRelatives=false %}  
          </div>
          {% endif %}

          {% include disqus-comments.html %}
          
          {%- endcomment -%}
        </div>
      </div>

      <div class="sidebar">
        <img src="/assets/images/openmind-logo.png" style="width: 250px;" alt="">
        <hr>
        <div class="tree-wrapper">
          {% include tree2.liquid depth=7 root='/'  hideDistantRelatives=true %}  
        </div>
        <hr>

        {%- comment -%}  
          {% include tree.liquid dir=page.dir ulClass=".nav.flex-column.tree-nav" liClass=".nav-item" aClass=".nav-link" %}
        {%- endcomment -%}

        {%- comment -%} {%- endcomment -%}
        {% include nav.html %}

      </div>       

      
    </div>

    {% include footer-js.html %}   

  </body>
</html>